.addGroup{
    position: relative;
    color: black;
    padding-right: 100px;
    text-align: end;
    margin-top: 10px;
}

.background {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;


}

.form-label {
    color: white;
}
.modal-custom {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1050;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-content-custom {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    max-height: 80vh;
    overflow-y: auto;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
